on:
  workflow_dispatch:
  schedule:
    - cron:  '0 * * * *'

jobs:
  effective-pom-dependency:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java:
          - 25

    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-java@v5
        with:
          java-version: ${{ matrix.java }}
          distribution: temurin

      - run: mvn --version

      - run: ./mvnw --version

      - run: |
          # ./mvnw help:effective-pom -Doutput=effective-pom.xml
          ./mvnw -f fulldependency/pom.xml help:effective-pom -Doutput=effective-pom.xml
          ./mvnw -f nodependency/pom.xml help:effective-pom -Doutput=effective-pom.xml
          ./mvnw -f starterdependency/pom.xml help:effective-pom -Doutput=effective-pom.xml
          # ./mvnw -f noparent/pom.xml help:effective-pom -Doutput=effective-pom.xml
          # ./mvnw -f milestone/pom.xml help:effective-pom -Doutput=effective-pom.xml

      - run: |
          # ./mvnw dependency:tree -DoutputFile=dependency-tree.txt
          ./mvnw -f fulldependency/pom.xml dependency:tree -DoutputFile=dependency-tree.txt
          ./mvnw -f nodependency/pom.xml dependency:tree -DoutputFile=dependency-tree.txt
          ./mvnw -f starterdependency/pom.xml dependency:tree -DoutputFile=dependency-tree.txt
          # ./mvnw -f noparent/pom.xml dependency:tree -DoutputFile=dependency-tree.txt
          # ./mvnw -f milestone/pom.xml dependency:tree -DoutputFile=dependency-tree.txt

      - run: |
          # ./mvnw dependency:resolve-plugins -DoutputFile=resolve-plugins.txt
          ./mvnw -f fulldependency/pom.xml dependency:resolve-plugins -DoutputFile=resolve-plugins.txt
          ./mvnw -f nodependency/pom.xml dependency:resolve-plugins -DoutputFile=resolve-plugins.txt
          ./mvnw -f starterdependency/pom.xml dependency:resolve-plugins -DoutputFile=resolve-plugins.txt
          # ./mvnw -f noparent/pom.xml dependency:resolve-plugins -DoutputFile=resolve-plugins.txt
          # ./mvnw -f milestone/pom.xml dependency:resolve-plugins -DoutputFile=resolve-plugins.txt

      - uses: peter-evans/create-pull-request@v8
        with:
          title: effective-pom-dependency
          body:
          commit-message: effective-pom-dependency
          branch: effective-pom-dependency
