on:
  workflow_dispatch:
  schedule:
    - cron:  '0 * * * *'

jobs:
  effective-pom-dependency:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java:
          - 25

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5
        with:
          java-version: ${{ matrix.java }}
          distribution: temurin

      - run: mvn --version

      - run: ./mvnw --version

      - run: |
          # ./mvnw help:effective-pom -Doutput=effective-pom.xml -q
          ./mvnw -f fulldependency/pom.xml help:effective-pom -Doutput=effective-pom.xml -q
          ./mvnw -f nodependency/pom.xml help:effective-pom -Doutput=effective-pom.xml -q
          # ./mvnw -f noparent/pom.xml help:effective-pom -Doutput=effective-pom.xml -q
          # ./mvnw -f milestone/pom.xml help:effective-pom -Doutput=effective-pom.xml -q

      - run: |
          # ./mvnw dependency:tree -DoutputFile=dependency-tree.txt -q
          ./mvnw -f fulldependency/pom.xml dependency:tree -DoutputFile=dependency-tree.txt -q
          ./mvnw -f nodependency/pom.xml dependency:tree -DoutputFile=dependency-tree.txt -q
          # ./mvnw -f noparent/pom.xml dependency:tree -DoutputFile=dependency-tree.txt -q
          # ./mvnw -f milestone/pom.xml dependency:tree -DoutputFile=dependency-tree.txt -q

      - run: |
          # ./mvnw dependency:resolve-plugins -DoutputFile=resolve-plugins.txt -q
          ./mvnw -f fulldependency/pom.xml dependency:resolve-plugins -DoutputFile=resolve-plugins.txt -q
          ./mvnw -f nodependency/pom.xml dependency:resolve-plugins -DoutputFile=resolve-plugins.txt -q
          # ./mvnw -f noparent/pom.xml dependency:resolve-plugins -DoutputFile=resolve-plugins.txt -q
          # ./mvnw -f milestone/pom.xml dependency:resolve-plugins -DoutputFile=resolve-plugins.txt -q

      - uses: peter-evans/create-pull-request@271a8d0340265f705b14b6d32b9829c1cb33d45e # v7
        with:
          title: effective-pom-dependency
          body:
          commit-message: effective-pom-dependency
          branch: effective-pom-dependency
