on:
  workflow_dispatch:
  schedule:
    - cron:  '0 * * * *'

jobs:
  future-update:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java:
          - 25

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5
        with:
          java-version: ${{ matrix.java }}
          distribution: temurin

      - run: mvn --version

      - run: ./mvnw --version

      - run: |
          ./mvnw versions:update-parent
          ./mvnw versions:update-child-modules
          ./mvnw versions:update-properties
          # ./mvnw versions:use-latest-snapshots
          ./mvnw versions:use-latest-releases

      - run: |
          cd fulldependency
          ./mvnw versions:update-parent
          ./mvnw versions:update-child-modules
          ./mvnw versions:update-properties
          # ./mvnw versions:use-latest-snapshots
          ./mvnw versions:use-latest-releases

      - run: |
          cd nodependency
          ./mvnw versions:update-parent
          ./mvnw versions:update-child-modules
          ./mvnw versions:update-properties
          # ./mvnw versions:use-latest-snapshots
          ./mvnw versions:use-latest-releases

      - uses: peter-evans/create-pull-request@271a8d0340265f705b14b6d32b9829c1cb33d45e # v7
        with:
          title: future-update
          body:
          commit-message: future-update
          branch: future-update
          draft: true
